*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #042123, #cb75cd);
    color: #fff;
    font-weight: 600;
}

.main
{
    height: 500px;
    width: 500px;
    padding: 30px;
    animation: anime 2s alternate infinite;
    transition: all ease-in 2s ;
    border: 4px solid black;
}
.container{
    border: 0.5px solid #fff;
    border-radius: 10px;
    padding: 28px 32px;
    display: flex;
    flex-direction: column;
    background: transparent;
    box-shadow:  8px 8px 0px #575757 , -4px -4px 0px #dc8e8e;
    
}

.container h1{
    font-size: 1.4rem;
    margin-block: 8px;
}
.inputBox{
    position: relative;
}

.inputBox span{
    position: absolute;
    top: 16px;
    right: 6px;
    color: #000;
    font-size: 28px;
    cursor: pointer;
    z-index: 2;
}
.passBox{
    background-color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    width: 300px;
    border-radius: 4px;
    font-size: 20px;
    margin-block: 8px;
    text-overflow: ellipsis;
}

.row{
    display: flex;
    margin-block: 8px;
}

.row p, .row label{
    flex-basis: 100%;
    font-size: 18px;
}

.row input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

.genBtn{
    border: none;
    outline: none;
    background-color: #072547;
    padding: 12px 24px;
    color: #fff;
    font-size: 18px;
    margin-block: 8px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
}

.genBtn:hover{
    background-color: #0066ff;
}

@keyframes anime
{
    0%
    {
        /* transform: rotate(0deg); */
        border-top: 4px solid rgb(235, 9, 9)  ;
    }
    25%
    {
        border-left: 4px solid rgb(245, 63, 235)  ;
    }
    50%
    {
        border-bottom: 4px solid black  ;
    }
    75%
    {
        border-right: 4px solid rgb(88, 153, 236)  ;
    }
    100%
    {
        /* transform: rotate(360deg); */
        border-top: 4px solid rgb(69, 7, 7)  ;
    }
}